@media screen and (min-width: 768px) {
  .Card-title {
    font-size: 2em;
    user-select: none;
  }

  .Card-content {
    margin-top: 1.5vh;
    font-size: 0.9em;
    display: flex;
    text-align: left;
    justify-content: left;
    line-height: 1.2em;
    user-select: none;
  }

  .Card {
    width: 80%;
    height: 100%;
    padding: 1.5em;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #d7d6d6;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
  }

  .Card-cringe {
    width: 80%;
    height: 100%;
    padding: 1.5em;
    color: #ff0000;
    border-radius: 0px;
    border: 3px solid #ff0000;
    background-color: #ffff00;
    font-family: "Times New Roman", Times, serif;
  }

  .Card-a {
    text-decoration: none;
    color: #ff0000;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spinX {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}

@keyframes scale-text {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.25);
  }

  75% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
