.Card {
  padding: 1.5em;
}

@media screen and (min-width: 768px) {
  .Card-title {
    font-size: 2em;
    user-select: none;
  }

  .Card-content {
    margin-top: 1.5vh;
    font-size: 0.9em;
    display: flex;
    text-align: left;
    justify-content: left;
    line-height: 1.2em;
    user-select: none;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spinX {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}

@keyframes scale-text {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.25);
  }

  75% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
