.Header {
  max-width: 100%;
  min-height: 100px;
}

@media screen and (min-width: 768px) {
  .Header {
    width: 100%;
    height: 7vh;
  }

  .Header-large-screen {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 20% 7% 26% 7% 20% 10%;
  }

  .Header-title {
    font-size: 2em;
    grid-column-start: 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Header-button-grid {
    grid-column-start: 6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Header-button {
    border: 2px solid #0a0020;
    padding: min(1vw, 1vh);
    cursor: pointer;
    font-size: 1em;
    user-select: none;
  }
}
